@import url(reset.css);

.wrap {
}

header {
  width: 100vw;
  height: 50px;
  border: 1px solid red;
}

.nav-bar {
  width: 100%;
  height: 50px;
  background-color: gold;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar_first-box {
  width: 50px;
  height: 50px;
  background-color: white;
}

.main {
  width: 100vw;
  height: 80vh;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 50px;

  background-color: green;
}

.slide {
  width: 100%;
  height: 300px;

  border: 1px solid red;
}

.picture-list {
  margin: auto;
  width: 80%;
  height: 700px;

  border: 1px solid red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 500px;
  height: 650px;
  padding: 15px;
}

.modalBox button {
  position: absolute;
}

#btn_group{
  position: absolute;
  bottom: 60px;
  right: 10px;
  margin-bottom: auto;
}

.modalBox input {
  width: 90%;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  outline: solid 1px black;
  margin-bottom: 10px;
}

.modalBox textarea {
  width: 100%;
  height: 200px;
  letter-spacing: 1px;
  background-color: white;
}

.input-group img{
  width: 100%;
  max-width: 100%;
  margin-bottom: -10px;
}


.hidden {
  display: none;
}