<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>Document</title>
</head>
<body>
<div class="wrap">
    <!-- 네비게이션 구역 -->
    <header>
        <div class="nav-bar">
            <div class="nav-bar_first-box">
                <a href="#">홈</a>
            </div>
            <div class="nav-bar_second-box">
                <a href="/login">로그인</a>
                <a href="#">마이페이지</a>
            </div>
        </div>
    </header>
    <!-- 네비게이션 끝 -->
    <!-- 메인 (슬라이드, 사진상위노출) -->
    <main class="main">
        <div id="slide" class="slide"></div>
        <div>
          <button class="openBtn">내 방 자랑하기</button>
        </div>
        <div class="picture-list">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
        </div>
        <!-- =====모달 섹션시작===== -->

        <div class="modal hidden">
          <div class="bg"></div>
          <div class="modalBox">
            <div class="input-group mb-3">
              <input type="file" id="inputImage">

              <button id="sendButton">보내기</button>

              <img src="" class="uploadImage">
            </div>
            <div class="form-floating">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
              style="resize:none"></textarea>
            </div>
            <div id="btn_group">
              <button class="closeBtn">닫기</button>
              <button class="saveBtn">저장</button
            </div>
          </div>
        </div>
        <!-- =====모달 섹션 끝===== -->
      </main>
      <!-- 메인 (슬라이드, 사진상위노출) -->
      <!-- footer copyright -->
      <footer class="footer">copyright</footer>
      <!-- footer copyright 끝 -->
    </div>
    <script>
      <!-- =====모달 JS===== -->
      const open = () => {
        document.querySelector(".modal").classList.remove("hidden");
      }

      const close = () => {
        document.querySelector(".modal").classList.add("hidden");
      }

      document.querySelector(".openBtn").addEventListener("click", open);
      document.querySelector(".closeBtn").addEventListener("click", close);
      document.querySelector(".saveBtn").addEventListener("click", close);
      document.querySelector(".bg").addEventListener("click", close);
      document.querySelector("#sendButton").addEventListener('click', () => {
        let selectFile = document.querySelector("#inputImage").files[0];
        const file = URL.createObjectURL(selectFile);
        document.querySelector(".uploadImage").src = file;
      })

      <!-- =====모달 JS 끝===== -->
      function previewImage(f) {

        var file = f.files;

        // 확장자 체크
        if (!/\.(gif|jpg|jpeg|png)$/i.test(file[0].name)) {
          alert('gif, jpg, png 파일만 선택해 주세요.\n\n현재 파일 : ' + file[0].name);

          // 선택한 파일 초기화
          f.outerHTML = f.outerHTML;

          document.getElementById('preview').innerHTML = '';

        } else {

          // FileReader 객체 사용
          var reader = new FileReader();

          // 파일 읽기가 완료되었을때 실행
          reader.onload = function (rst) {
            document.getElementById('preview').innerHTML = '<img src="' + rst.target.result + '">';
          }

          // 파일을 읽는다
          reader.readAsDataURL(file[0]);

        }
      }
    </script>
  </body>
</html>
