<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <!-- 네비게이션 구역 -->
      <header>
        <div class="nav-bar">
          <div class="nav-bar_first-box">
            <a href="#">홈</a>
          </div>
          <div class="nav-bar_second-box">
            <a href="#">로그인</a>
            <a href="#">마이페이지</a>
          </div>
        </div>
      </header>
      <!-- 네비게이션 끝 -->
      <!-- 메인 (슬라이드, 사진상위노출) -->
      <main class="main">
        <div id="slide" class="slide"></div>
        <div>
          <button>내 방 자랑하기</button>
        </div>
        <div class="picture-list">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
        </div>
        <!-- =====모달 섹션시작===== -->
        <!-- =====모달 섹션 끝===== -->
      </main>
      <!-- 메인 (슬라이드, 사진상위노출) -->
      <!-- footer copyright -->
      <footer class="footer">copyright</footer>
      <!-- footer copyright 끝 -->
    </div>
    <script></script>
  </body>
</html>
